@model SweetRole.ViewModels.DetailsStoryViewModel

@{
    ViewData["Title"] = Model.Story.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
        $(document).ready(function () {
            $('select').material_select();
        });
</script>

<div class="container">
    <h1>@Html.DisplayFor(model => model.Story.Title)</h1>

    <div>
        <h3>@Html.DisplayFor(model => model.Story.Genre)</h3>
        <a class="btn btn-primary" asp-controller="Story" asp-action="Edit" asp-route-id="@Model.Story.StoryID" role="button">Edit Story</a>
        <hr />
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="col s12" asp-action="AddCharacter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="input-field s12">

                    <select>
                        <option asp-for="Users" asp-items="@Model.Users"></option>
                    </select>
                    <label asp-for="Users" class="control-label"></label>
                    @*<span asp-validation-for="Users" class="text-danger"></span>*@
                </div>
            </div>
            @*<div class="row">
                    <div class="input-field s12">

                        <input type="submit" value="Share Story" class="btn btn-primary" />
                    </div>
                </div>*@
        </form>
    </div>
</div>

<div class="container">
    <h3>Scenes</h3>
    <hr />
    <p>
        <a class="btn btn-primary" asp-controller="Scene" asp-action="Create" asp-route-id="@Model.Story.StoryID" role="button">Add Scene</a>
    </p>
    @if (Model.Story.Scenes != null)
    {
        <table class="table" title="@Html.DisplayNameFor(model => Model.Story.Scenes)">

            <tr>

                <th>Scene Title</th>

                <th>Setting</th>
                @*TODO: Remove when no longer needed for testing*@
                <th>Scene Story Id</th>

            </tr>

            @foreach (var item in Model.Story.Scenes)
            {
                <tr>

                    <td>
                        <a asp-controller="Scene" asp-action="Details" asp-route-id="@item.SceneID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setting)
                    </td>
                    @*TODO: Remove when no longer needed for testing*@
                    <td>
                        @Html.DisplayFor(modelItem => item.StoryID)
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Scenes created yet</p>
        <a class="btn btn-primary" asp-controller="Scene" asp-action="Create" role="button">Add Scene</a>
    }


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>