@model IEnumerable<SweetRole.Models.Story>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">

    <div class="row justify-content-center">

        @foreach (var item in Model)

        {

            <div class="col-sm">

                <div class="card" style="width: 18rem;">

                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150.png?text=Place+holder+photo" class="card-img-top" alt="..."></a>

                    <div class="card-body">

                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>

                        @*<p class="card-text">@Html.DisplayFor(modelItem => item.DateOfBirth)</p>*@

                        <a class="btn btn-primary" href="/character/details/@item.StoryId" role="button">Details</a>

                        <a class="btn btn-info" href="/character/edit/@item.StoryId" role="button">Edit</a>

                        <a class="btn btn-danger" href="/character/delete/@item.StoryId" role="button">Delete</a>

                    </div>

                </div>
            </div>

        }

    </div>
</div>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SweetRoleUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SweetRoleUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.StoryId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.StoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StoryId })
            </td>
        </tr>
}
    </tbody>
</table>
