@model IEnumerable<SweetRole.Models.Story>

@{
    ViewData["Title"] = "Stories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <h4>Stories</h4>
        <p>
        </p>
    </div>

<div class="container">
    <h5>My Stories <a class="btn-floating btn-small waves-effect waves-light orange" asp-action="Create"><i class="material-icons">add</i></a></h5>

    <hr />
</div>

    <div id="myWorkContent">

        @foreach (var item in Model)

        {
                <div class="card" style="width:18rem">
                    <div class="card-image">
                        <img src="~/images/story.jpg">
                        <span class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light orange" asp-area="" asp-controller="story" asp-action="edit" asp-route-id="@item.StoryID"><i class="material-icons">create</i></a>
                    </div>
                    <div class="card-content">
                        <p> Strange bug constantly</p>
                        <p>this overflow</p>
                    </div>
                    <div class="card-action">
                        <a class="button blue-text lighten-2" asp-area="" asp-controller="story" asp-action="details" asp-route-id="@item.StoryID" role="button">Details</a>
                    </div>
                </div>
        }
    </div>

<br />

<div class="container">
    <h5>My Stories</h5>
    <hr />
</div>

<div id="myWorkContent">


    @foreach (var item in Model)

    {

        <div class="card" style="width:18rem">
            <div class="card-image">
                <img src="~/images/story2.jpg">
                <span class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
                <a class="btn-floating halfway-fab waves-effect waves-light orange" asp-area="" asp-controller="story" asp-action="edit" asp-route-id="@item.StoryID"><i class="material-icons">create</i></a>
            </div>
            <div class="card-content">
                <p> Strange bug constantly</p>
                <p>this overflow</p>
            </div>
            <div class="card-action">
                <a class="button" asp-area="" asp-controller="story" asp-action="details" asp-route-id="@item.StoryID" role="button">Details</a>
            </div>
        </div>
    }

</div>
<br />