@model IEnumerable<SweetRole.Models.Scene>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SceneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SceneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SceneId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.SceneId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SceneId  })
            </td>
        </tr>
}
    </tbody>
</table>
